.background-container {
  position: auto;
  background-image: url('../../../src/assets/images/main-image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh; 
  display: flex;
  align-items: center;
  overflow: hidden; 

}

.background-container .overlay {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25); 
}

.background-container .content {
  position: relative;
  color: white;
  margin-bottom: 8rem;
  text-align: justify;
  width: 35%;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 2;
}

.background-container .content h2 {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 500;
}

.background-container .content p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.background-container .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6.5rem;
}

.background-container .content button {
  background-color: var(--primary-color);
  border: none;
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 10rem;
  transition: background-color 0.8s ease;
}

.background-container .content button:hover {
  background-color: #88C16C;
}