@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Baloo Paaji 2";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("./fonts/BalooPaaji2-VariableFont_wght.ttf") format("truetype");
  }
}

:root {
  --background: #D9D9D9;
  --foreground: #231f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231f1f;
    --foreground: #eaeaea;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: "Baloo Paaji 2", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
