@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Baloo Paaji 2";
    font-style: normal;
    font-weight: 100-900; 
    font-display: optional;
    src: url("./fonts/BalooPaaji2-VariableFont_wght.ttf") format("truetype");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #d9d9d9;
  --foreground: #231f1f;
  --primary-color: #3590b5;
  --text-color: #4d4d4d;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #d9d9d9;
    --foreground: #231f1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Baloo Paaji 2", sans-serif;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
