header {
  width: 100%;
  position: fixed;
  background-color: var(--background-color);
  box-shadow: 0 4px 7px var(--shadow-color);
  z-index: 3;
}

header nav#navbar {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  max-width: 1240px;
  margin: 0 auto;
  padding: 1 2rem;
}

header nav#navbar .nav-img {
  width: 15vh;
  height: 15vh;
}

header nav#navbar .nav-brand {
  color: #4d4d4d;
  display: flex;
  align-items: center;

}

header nav#navbar .nav-brand h1 {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 700;
}

header nav#navbar ul.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

header nav#navbar ul.nav-list li a {
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

header nav#navbar ul.nav-list li a:hover {
  color: var(--hover-color);
}
